<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Currency Converter</title>
</head>
<body>
<h1>Admin Page</h1>
<p>Available currencies: </p>
<p
        th:each="currency: ${currencies}"
        th:utext="${currency.abbreviation} + ', ' + ${currency.name}"
>No currencies available</p>
<h3>Total number of conversions since inception:</h3>
<p
    th:text="${conversionCount}"
    >
    No count available</p>
<h3>Change conversion rates:</h3>
<form
        th:action="@{/admin}"
        th:object="${rateChangeRequest}"
        method="post"
>
    <label>Rate: </label>
    <select
            th:field="*{rateId}"
            name="rate"
    >
        <option
                th:each="rate: ${rates}"
                th:value="${rate.id}"
                th:utext="${rate.from.abbreviation} + '->' + ${rate.to.abbreviation} + ' : ' + ${rate.value}"
        />
    </select>
    <br />
    <label>Value: </label>
    <input
            th:field="*{value}"
            type="text"
    />
    <span
            class="error"
            th:if="${#fields.hasErrors('value')}"
            th:errors="*{value}"
    >
        Invalid value
    </span>
    <br />
    <input type="submit" value="Change" />

    <div
        th:if="${result}"
        >
        <p>Rate changed successfully</p>
    </div>
</form>
</body>
</html>
